[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "partitionComparison"]
	path = partitionComparison
	url = https://github.com/kit-iism-em/partitioncomparison
	subdir = partitionComparison
